
/* Lightbox */
#lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#lightbox.active {
    display: flex;
}

.lightbox-content {
    max-width: 90%;
    max-height: 80vh;
    border: 2px solid var(--accent);
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.lightbox-info {
    margin-top: 15px;
    color: var(--text-main);
    background: var(--card-bg);
    padding: 10px 20px;
    border: 1px solid #333;
    text-align: center;
    font-family: monospace; /* Technical look for stats */
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s;
}

.close-btn:hover {
    color: var(--accent);
}
